<!DOCTYPE html>
<html>
    <head>
        <a href="" class="flex items-center">         
            <img src="cid:logo" style="height: 100px;" alt="Intercon Computer Services">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
        </a>
        <title>Login Verification</title>
    </head>
    <body>
        <div>
            <h3>
                Your verification code is:
            </h3>
            <strong>
                {{ user_otp }}
            </strong>
            <p>
                This verification code will be valid for 30 minutes. Please do not share this code with anyone.              
            </p>  
            <p>
                Don’t recognize this activity? Please  <a href= "mailto: juan@iccs.co.za">Contact Support </a> and reset your password.
            </p>       
            <p>
                This is an automated message, please do not reply.
            </p>
            <p>
                ----------------------------------------------------------------------------------------------------------
            </p>
        </div>
    </body>
    <footer>
        © 2025 | <a href="https://www.bdo.global/en-gb/home">BDO</a> GRC - All rights reserved
    </footer>   
</html>
