*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
venv

#src
#*.sqlite*

.env
node_modules
yarn.lock

tasks_logs/
#media/
db.sqlite3

media/avatar
celerybeat-schedule
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dir
celerybeat-schedule
celerybeat-schedule.dat
media/files/estate_software_1_yqJ9vgO.CSV
media/files/estate_software_1_NBLVkck.CSV
media/files/estate_software_1.CSV
celerybeat-schedule

media/files/
media/document/
media/secure_file/
media/uploaded_images/
media/attachment/
media/
