{% extends "layouts/base.html" %}
{% load static get_attribute %}

{% block content %}

<main class="m-4">
    <div class="p-4 bg-white block border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700 rounded-lg">

        <div id="errorMessage" class="hidden p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert"></div>
       
        <!-- Loading Spinner -->
        <div style="z-index: 999;" id="loadingSpinner" class="hidden absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-lg">
            <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
        <!-- End Loading Spinner -->

        <div class="flex justify-between items-center mb-5">
            <h4 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Join Models</h4>
            {% if request.GET.view_name  %}
                <a href="{% if request.GET.view_name|url_has_pattern %}{% url request.GET.view_name %}{% else %}{% url "join_view_404" %}?view_name={{request.GET.view_name}}{% endif %}" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Go to the view</a>
            {% endif %}
        </div>
        <form id="createModelForm" class="p-5 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700" method="post">
            {% csrf_token %}
            <div class="mb-5">
                <label for="id_view_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">View Display Name</label>
                <input type="text" name="fav_name" {% if request.GET.view_name %} disabled {% endif %} required class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="View display name" id="id_view_name">
            </div>
            <input type="hidden" name="join_model_name" id="id_join_model_name">
            <div class="mb-5">
                <label for="id_group_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sidebar Group</label>
                <select name="group_name" {% if request.GET.view_name %} disabled {% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required id="id_parent_name">
                    <option value="">Choose a sidebar group</option>
                    {% for group in groups %}
                        <option {% if group.name == 'IS Auditor' %}selected{% endif %} value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-5">
                <label for="id_parent_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sidebar Section</label>
                <select name="parent_name" {% if request.GET.view_name %} disabled {% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required id="id_parent_name">
                    <option value="">Choose a sidebar section</option>
                    {% for sidebar in sidebars %}
                        <option {% if sidebar.name == 'ETL Lists' %}selected{% endif %} value="{{ sidebar.id }}">{{ sidebar.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-5">
                <label for="method" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Join method</label>
                <select id="method" required name="join_method" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="">Choose a join method</option>
                    <option value="contains">Contains</option>
                    <option value="winkler_levenshtein">Vector Match</option>
                    <option value="split">Split</option>
                    <option value="pre_post">Pre / Post</option>
                    <option value="email_join">Email Join</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
            <div class="mb-5" id="percent-wrapper" style="display: none;">
                <div class="mb-2 grid grid-cols-2">
                    <div class="col-span-1">
                      <div class="flex items-center mb-3">
                        <input id="jaro-winkler" type="checkbox" name="jaro_winkler" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="jaro-winkler" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jaro-Winkler</label>
                      </div>
                    </div>
                    <div class="col-span-1">
                      <div class="flex items-center mb-3">
                        <input id="levenshtein" type="checkbox" name="levenshtein" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="levenshtein" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Levenshtein </label>
                      </div>
                    </div>
                    <div class="col-span-1">
                      <div class="flex items-center mb-3">
                        <input id="token_set_ratio" type="checkbox" name="token_set_ratio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="token_set_ratio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Token set Ratio</label>
                      </div>
                    </div>
                    <div class="col-span-1">
                      <div class="flex items-center mb-3">
                        <input id="phonetic" type="checkbox" name="phonetic" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="phonetic" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Phonetic</label>
                      </div>
                    </div>
                    <div class="col-span-1">
                      <div class="flex items-center mb-3">
                        <input id="fuzzy_wuzzy" type="checkbox" name="fuzzy_wuzzy" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="fuzzy_wuzzy" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fuzzy Wuzzy</label>
                      </div>
                    </div>
                </div>
                <div>
                    <label for="similarity_threshold" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Similarity Threshold</label>
                    <select id="percent" required name="similarity_threshold" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="50">50% - Relaxed</option>
                        <option value="55">55% - Relaxed</option>
                        <option value="60">60% - Normal</option>
                        <option selected value="65">65% - Normal</option>
                        <option value="70">70% - Strict</option>
                        <option value="75">75% - Strict</option>
                    </select>
                </div>
            </div>
            <div class="mb-5" id="split-wrapper" style="display: none;">
                <div class="flex items-center mb-5">
                    <input id="split-space" type="checkbox" name="split_space" checked class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="split-space" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Split by space</label>
                </div>
                <div class="mb-5">
                    <label for="split-char" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Split Character</label>
                    <input type="text" name="split_char" id="split-char" placeholder="Split Character" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="word_position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Match word position</label>
                    <select id="word_position" required name="word_position" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="1">1st</option>
                        <option value="2">2nd</option>
                        <option value="3">3rd</option>
                        <option value="4">4th</option>
                        <option value="5">5th</option>
                    </select>
                </div>
            </div>
            <div class="" id="pre-post-wrapper" style="display: none;">
                <div class="mb-5">
                    <label for="pre_char" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Pre char to be remove</label>
                    <input type="number" name="pre_char" id="pre_char" placeholder="Number of Pre char to be remove" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mb-5">
                    <label for="post_char" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Post char to be remove</label>
                    <input type="number" name="post_char" id="post_char" placeholder="Number of Post char to be remove" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
            </div>
            <div class="" id="email-wrapper" style="display: none;">
                <div class="mb-5">
                    <label for="left-split-char" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Split Character</label>
                    <input type="text" name="left_split_char" id="left-split-char" placeholder="Split Character" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
               {% comment %}  <div class="mb-5">
                    <label for="pre_char_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Pre char to be remove</label>
                    <input type="number" name="pre_char_email" id="pre_char_email" placeholder="Number of Pre char to be remove" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mb-5">
                    <label for="post_char_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Post char to be remove</label>
                    <input type="number" name="post_char_email" id="post_char_email" placeholder="Number of Post char to be remove" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div> {% endcomment %}
            </div>
            <div class="" id="custom-wrapper" style="display: none;">
                <div class="mb-5">
                    <label for="pre_char" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Python Function
                    </label>
                    <textarea name="py_function" placeholder="Python function" rows="5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id=""></textarea>
                </div>
                <div class="mb-5">
                    <label for="c_percent" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Similarity Threshold</label>
                    <select id="c_percent" required name="c_percent" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="50">50% - Relaxed</option>
                        <option value="55">55% - Relaxed</option>
                        <option value="60">60% - Normal</option>
                        <option value="65">65% - Normal</option>
                        <option value="70">70% - Strict</option>
                        <option value="75">75% - Strict</option>
                    </select>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-3">
                <div class="col-span-1">
                    <div class="mb-5">
                        <label for="id_base_model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Base Model</label>
                        <select name="base_model" {% if request.GET.view_name %} disabled {% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required id="id_base_model">
                            <option value="">Choose a model</option>
                            {% for app_name, models in model_names.items %}
                                {% for model in models %}
                                <option value="{{app_name}}.{{ model }}">{{ model }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select_base_fields mb-5">
                        <label for="id_base_fields" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fields</label>
                        <div class="relative flex items-center ml-auto space-x-2 sm:space-x-3">
                            <button id="dropdownBaseFieldsButton" data-dropdown-toggle="dropdownBaseFieldsCheckbox" class="inline-flex items-center justify-between w-full px-2 py-2.5 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" type="button">
                                Select fields
                                <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownBaseFieldsCheckbox" class="absolute min-w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul id="dropdownBaseFieldsList" class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200 max-h-60 overflow-y-auto"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="select_base_fields mb-5">
                        <label for="id_base_foreign_key_field" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Base Foreign Key Field</label>
                        <select name="base_foreign_key_fields" required id="id_base_foreign_key_field" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="mb-5">
                        <label for="id_delta_model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Delta Model</label>
                        <select name="delta_model" {% if request.GET.view_name %} disabled {% endif %} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="id_delta_model">
                            <option value="">Choose a model</option>
                            {% for app_name, models in model_names.items %}
                                {% for model in models %}
                                <option value="{{app_name}}.{{ model }}">{{ model }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select_delta_fields mb-5">
                        <label for="id_delta_fields" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fields</label>
                        <div class="relative flex items-center ml-auto space-x-2 sm:space-x-3">
                            <button id="dropdownDeltaFieldsButton" data-dropdown-toggle="dropdownDeltaFieldsCheckbox" class="inline-flex items-center justify-between w-full px-2 py-2.5 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" type="button">
                                Select fields
                                <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownDeltaFieldsCheckbox" class="absolute min-w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul id="dropdownDeltaFieldsList" class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200 max-h-60 overflow-y-auto"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="select_delta_fields mb-5">
                        <label for="id_delta_foreign_key_field" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Delta Foreign Key Field</label>
                        <div class="relative flex items-center ml-auto space-x-2 sm:space-x-3">
                            <button id="dropdownDeltaForeignKeyButton" data-dropdown-toggle="dropdownDeltaForeignKeyCheckbox" class="inline-flex items-center justify-between w-full px-2 py-2.5 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" type="button">
                                Select fields
                                <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdownDeltaForeignKeyCheckbox" class="absolute min-w-full z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul id="dropdownDeltaForeignKeyList" class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200 max-h-60 overflow-y-auto"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" {% if request.GET.view_name %} disabled {% endif %} id="submitButton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Join</button>
            <button type="button" data-modal-target="preview-base-model" data-modal-toggle="preview-base-model" id="preview-base" class="hidden text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Preview Base</button>
            <button type="button" data-modal-target="preview-delta-model" data-modal-toggle="preview-delta-model" id="preview-delta" class="hidden text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Preview Delta</button>
        </form>
    </div>
</main>

<!-- Preview base model -->
<div id="preview-base-model" tabindex="-1" aria-hidden="true" class="py-5 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-5xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <div>
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Preview Base
                  </h3>
                </div>
                <div>
                    <span id="base-count"></span>
                </div>
                <div>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="preview-base-model">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
            </div>
            <!-- Modal body -->
            <div style="height: 80vh;" class="p-6 space-y-6 overflow-y-auto">
              <div class="flex flex-col">
                <div class="overflow-x-auto">
                  <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden table-wrp shadow">
                        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                            <thead class="bg-gray-100 dark:bg-gray-700">
                              <tr>
                                {% for header in headers %}
                                    <th scope="col" class="px-6 py-3">{{ header }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

                                {% for row in preview_rows %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        {% for cell in row %}
                                            <td class="px-6 py-4">{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Preview delta model -->
<div id="preview-delta-model" tabindex="-1" aria-hidden="true" class="py-5 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-5xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <div>
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Preview Delta
                  </h3>
                </div>
                <div>
                    <span id="delta-count"></span>
                </div>
                <div>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="preview-delta-model">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
            </div>
            <!-- Modal body -->
            <div style="height: 80vh;" class="p-6 space-y-6 overflow-y-auto">
              <div class="flex flex-col">
                <div class="overflow-x-auto">
                  <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden table-wrp shadow">
                        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                            <thead class="bg-gray-100 dark:bg-gray-700">
                              <tr>
                                {% for header in headers %}
                                    <th scope="col" class="px-6 py-3">{{ header }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

                                {% for row in preview_rows %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        {% for cell in row %}
                                            <td class="px-6 py-4">{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Base Model Elements
        const modelSelect = document.getElementById('id_base_model');
        const selectBaseFields = document.querySelectorAll('.select_base_fields');
        const dropdownBaseFieldsList = document.getElementById('dropdownBaseFieldsList');
        const dropdownBaseForeignKeyList = document.getElementById('dropdownBaseForeignKeyList');
        const baseForeignKeyFields = document.getElementById('id_base_foreign_key_field');
        const dropdownBaseFieldsButton = document.getElementById('dropdownBaseFieldsButton');
        const dropdownBaseForeignKeyButton = document.getElementById('dropdownBaseForeignKeyButton');

        // Delta Model Elements
        const deltaModelSelect = document.getElementById('id_delta_model');
        const selectJoinFields = document.querySelectorAll('.select_delta_fields');
        const dropdownDeltaFieldsList = document.getElementById('dropdownDeltaFieldsList');
        const dropdownDeltaForeignKeyList = document.getElementById('dropdownDeltaForeignKeyList');
        const dropdownDeltaFieldsButton = document.getElementById('dropdownDeltaFieldsButton');
        const dropdownDeltaForeignKeyButton = document.getElementById('dropdownDeltaForeignKeyButton');
    
        // Hide fields initially
        selectBaseFields.forEach(field => field.style.display = 'none');
        selectJoinFields.forEach(field => field.style.display = 'none');

        function updateButtonText(button, checkboxes) {
            const selectedFields = Array.from(checkboxes)
                .filter(checkbox => checkbox.checked)
                .map(checkbox => checkbox.nextElementSibling.textContent)
                .join(', ');
    
            button.textContent = selectedFields || 'Select fields';
        }
    
        // Function to handle field fetching
        function handleModelChange(modelSelect, selectFields, targetFieldsList, apiEndpoint, name, button, selectAllId) {
            selectFields.forEach(field => field.style.display = modelSelect.value ? 'block' : 'none');
    
            if (modelSelect.value) {
                fetch(`${apiEndpoint}?model_name=${modelSelect.value}`)
                    .then(response => response.json())
                    .then(data => {
                        button.textContent = 'Select fields';
                        targetFieldsList.innerHTML = '';
                        if (name === 'base_foreign_key_fields') {
                            data.fields.forEach(field => {
                                const option1 = document.createElement('option');
                                option1.value = field;
                                option1.textContent = field;
                                targetFieldsList.appendChild(option1);
                            });
                        } else {

                            const selectAllItem = document.createElement('li');
                            selectAllItem.id = 'selectAllParent';
                            selectAllItem.innerHTML = `
                                <div class="flex items-center">
                                    <input id="${selectAllId}" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                    <label for="${selectAllId}"
                                        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Select All</label>
                                </div>
                            `;
                            targetFieldsList.appendChild(selectAllItem);

                            const fieldCheckboxes = [];

                            data.fields.forEach((field, index) => {
                                const listItem = document.createElement('li');

                                function generateCheckboxId(prefix, index) {
                                    return `${prefix}-checkbox-${index}-${Date.now()}-${Math.floor(Math.random() * 1000)}`;
                                }

                                const typePrefix = (() => {
                                    if (name.includes('base_foreign_key')) return 'base_fk';
                                    if (name.includes('delta_foreign_key')) return 'delta_fk';
                                    if (name.includes('base')) return 'base';
                                    return 'delta';
                                })();

                                const checkboxId = generateCheckboxId(typePrefix, index);

                                listItem.innerHTML = `
                                <div class="flex items-center">
                                    <input id="${checkboxId}" type="checkbox" value="${field}" name="${name}"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                                    <label for="${checkboxId}"
                                        class="ml-2 text-sm font-medium text-gray-900 dark:text-white">${field}</label>
                                </div>
                                `;

                                targetFieldsList.appendChild(listItem);

                                const checkbox = listItem.querySelector('input[type="checkbox"]');
                                fieldCheckboxes.push(checkbox);

                                checkbox.addEventListener('change', () => {
                                    updateButtonText(button, fieldCheckboxes);
                                    const allChecked = fieldCheckboxes.every(cb => cb.checked);
                                    document.getElementById(`${selectAllId}`).checked = allChecked;
                                });
                            });

                            const selectAllCheckbox = document.getElementById(`${selectAllId}`);
                            selectAllCheckbox.addEventListener('change', () => {
                                const isChecked = selectAllCheckbox.checked;
                                fieldCheckboxes.forEach(cb => cb.checked = isChecked);
                                updateButtonText(button, fieldCheckboxes);
                            });
                        }
                    })
                    .catch(error => console.error('Error fetching model fields:', error));
            } else {
                // Hide the fields if no model is selected
                targetFieldsList.innerHTML = '';
            }
        }
    
        function handlePreview(modelSelect, id, countId) {
            fetch(`/view-builder/get-model-data/?model_name=${modelSelect.value}`)
            .then(response => response.json())
            .then(data => {
                const tableHead = document.querySelector(`#${id} thead tr`);
                const tableBody = document.querySelector(`#${id} tbody`);
                const totalRows = document.getElementById(`${countId}`)

                tableHead.innerHTML = '';
                tableBody.innerHTML = '';
                totalRows.innerHTML = `Total rows: ${data.total_rows}`;

                const headers = data.headers;
                const rows = data.rows;

                if (headers.length === 0 || rows.length === 0) {
                    tableBody.innerHTML = '<tr><td colspan="100%" class="text-center px-6 py-4">No data available</td></tr>';
                    return;
                }

                headers.forEach(header => {
                    const th = document.createElement('th');
                    th.className = 'px-3 py-3';
                    th.textContent = header;
                    tableHead.appendChild(th);
                });

                rows.forEach(row => {
                    const tr = document.createElement('tr');
                    tr.className = 'bg-white border-b dark:bg-gray-800 dark:border-gray-700';

                    headers.forEach(header => {
                        const td = document.createElement('td');
                        td.className = 'px-3 py-1';
                        td.textContent = row[header];
                        tr.appendChild(td);
                    });

                    tableBody.appendChild(tr);
                });
            })
        }


        // Event Listeners
        modelSelect.addEventListener('change', function () {
            handleModelChange(modelSelect, selectBaseFields, dropdownBaseFieldsList, '/view-builder/get-model-fields/', 'base_model_fields', dropdownBaseFieldsButton, 'base_model_selectall');
            handleModelChange(modelSelect, selectBaseFields, baseForeignKeyFields, '/view-builder/get-model-fields/', 'base_foreign_key_fields', '', '');

            basePreviewBtn = document.getElementById('preview-base');
            basePreviewBtn.classList.remove('hidden');
            handlePreview(modelSelect, 'preview-base-model', 'base-count');
        });
    
        deltaModelSelect.addEventListener('change', function () {
            handleModelChange(deltaModelSelect, selectJoinFields, dropdownDeltaFieldsList, '/view-builder/get-model-fields/', 'delta_model_fields', dropdownDeltaFieldsButton, 'delta_model_selectall');
            handleModelChange(deltaModelSelect, selectJoinFields, dropdownDeltaForeignKeyList, '/view-builder/get-model-fields/', 'delta_foreign_key_fields', dropdownDeltaForeignKeyButton, 'deleta_f_key_selectall');

            deltaPreviewBtn = document.getElementById('preview-delta');
            deltaPreviewBtn.classList.remove('hidden');
            handlePreview(deltaModelSelect, 'preview-delta-model', 'delta-count');
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const spinner = document.getElementById('loadingSpinner');
        const submitButton = document.getElementById('submitButton');
        const errorMessageDiv = document.getElementById('errorMessage');

        function displayErrorMessage(message) {
            spinner.classList.add('hidden');
            submitButton.disabled = false;
            errorMessageDiv.textContent = message;
            errorMessageDiv.classList.remove('hidden');
        }

        document.getElementById("createModelForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const formData = new FormData(this);

            errorMessageDiv.classList.add('hidden');
            errorMessageDiv.textContent = '';

            spinner.classList.remove('hidden');
            submitButton.disabled = true;

            fetch("{% url 'join_models' %}", {
                method: "POST",
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status === "pending") {
                        setTimeout(() => {
                            window.location.href = window.location.pathname + `?view_name=${encodeURIComponent(data.view_name)}`;
                        }, 25000)
                    } else if (data.status === "error") {
                        displayErrorMessage(data.message || "An error occurred. Please refresh the page and try again.");
                    } else {
                        displayErrorMessage("An unexpected error occurred. Please refresh the page and try again.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    displayErrorMessage("A network error occurred. Please check your connection and try again.");
                });
        });
    });
</script>


<script>
    document.getElementById("id_view_name").addEventListener("input", function() {
        let formattedValue = this.value
            .replace(/\s+/g, "")
            .replace(/[^a-zA-Z0-9]/g, "");
    
        document.getElementById("id_join_model_name").value = formattedValue;
    });    
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const methodSelect = document.getElementById("method");
        const percentWrapper = document.getElementById("percent-wrapper");
        const percentInput = document.getElementById("percent");
        const splitWrapper = document.getElementById("split-wrapper");
        const wordPosition = document.getElementById("word_position");
        const prePostWrapper = document.getElementById("pre-post-wrapper");
        const emailWrapper = document.getElementById("email-wrapper");
        const customWrapper = document.getElementById("custom-wrapper");

        methodSelect.addEventListener("change", function () {
            if (methodSelect.value === "winkler_levenshtein") {
                percentWrapper.style.display = "block";
                percentInput.setAttribute("required", "required");
                splitWrapper.style.display = "none";
                wordPosition.removeAttribute("required");
                prePostWrapper.style.display = "none";
                customWrapper.style.display = "none";
                emailWrapper.style.display = "none";
            } 
            else if (methodSelect.value === "split") {
                splitWrapper.style.display = "block";
                wordPosition.setAttribute("required", "required");
                percentWrapper.style.display = "none";
                percentInput.removeAttribute("required");
                prePostWrapper.style.display = "none";
                customWrapper.style.display = "none";
                emailWrapper.style.display = "none";
            } else if (methodSelect.value === "pre_post") {
                splitWrapper.style.display = "none";
                wordPosition.setAttribute("required", "required");
                percentWrapper.style.display = "none";
                percentInput.removeAttribute("required");
                prePostWrapper.style.display = "block";
                customWrapper.style.display = "none";
                emailWrapper.style.display = "none";
            } else if (methodSelect.value === "custom") {
                splitWrapper.style.display = "none";
                wordPosition.setAttribute("required", "required");
                percentWrapper.style.display = "none";
                percentInput.removeAttribute("required");
                prePostWrapper.style.display = "none";
                customWrapper.style.display = "block";
                emailWrapper.style.display = "none";
            } else if (methodSelect.value === "email_join") {
                splitWrapper.style.display = "none";
                wordPosition.setAttribute("required", "required");
                percentWrapper.style.display = "none";
                percentInput.removeAttribute("required");
                prePostWrapper.style.display = "none";
                customWrapper.style.display = "none";
                emailWrapper.style.display = "block";
            } else {
                percentWrapper.style.display = "none";
                percentInput.removeAttribute("required");
                splitWrapper.style.display = "none";
                wordPosition.removeAttribute("required");
                prePostWrapper.style.display = "none";
                customWrapper.style.display = "none";
                emailWrapper.style.display = "none";
            }
        });
    });
</script>

{% endblock extra_js %}
